# ========================================================
# TEMPLATE KONEKSI DATABASE LOCAL DEVELOPMENT (DOCKER LOKAL)
# ========================================================
# File ini digunakan jika Anda menjalankan aplikasi API (Java/Go) 
# MELALUI IDE/Terminal Lokal (Bukan di dalam Docker), 
# namun Database-nya tetap berjalan di Docker (docker-compose up).

# 1. DATABASE UTAMA (MASTER/READ-WRITE) - Terikat di Port 15432
DB_MASTER_URL=jdbc:postgresql://localhost:15432/capstonev2
DB_MASTER_USER=user
DB_MASTER_PASS=password

# 2. DATABASE REPLIKA (READ ONLY) - Terikat di Port 15433
# (Penting: Docker telah diatur agar mengekspos replikanya ke port 15433 di Windows Anda demi hindari crash)
DB_REPLICA_URL=jdbc:postgresql://localhost:15433/capstonev2
DB_REPLICA_USER=user
DB_REPLICA_PASS=password

# ========================================================
# KONFIGURASI APLIKASI
# ========================================================
APP_PROFILE=development

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
