global
    maxconn 500000

defaults
    mode tcp
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    maxconn 100000

# DNS Resolver untuk Docker internal DNS
resolvers docker_dns
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      5s

# ==========================================
# AUTH SERVICE (gRPC Multiplexed L4)
# 2 Replika di docker-compose
# ==========================================
frontend auth_front
    bind *:9001
    default_backend auth_back

backend auth_back
    balance roundrobin
    server-template auth 2 auth-service:9001 check resolvers docker_dns init-addr none

# ==========================================
# BALANCE SERVICE (gRPC Multiplexed L4)
# 3 Replika di docker-compose
# ==========================================
frontend balance_front
    bind *:9002
    default_backend balance_back

backend balance_back
    balance roundrobin
    server-template balance 3 balance-service:9002 check resolvers docker_dns init-addr none

# ==========================================
# TRANSACTION SERVICE (gRPC Multiplexed L4)
# 3 Replika di docker-compose
# ==========================================
frontend transaction_front
    bind *:9003
    default_backend transaction_back

backend transaction_back
    balance roundrobin
    server-template trx 3 transaction-service:9003 check resolvers docker_dns init-addr none
